<section class="console">

    <div class="row send">
        <div class="row utilities">
            <div class="col s7">

            </div>
            <div class="col s1">
                <a href="#" onclick="document.execCommand('italic',false,null);">
                    <u class="letters">U</u>
                </a>
            </div>
            <div class="col s1">
                <a href="#" onclick="document.execCommand( 'bold',false,null);">
                    <b class="letters">B</b>
                </a>
            </div>
            <div class="col s1">
                <a href="#" onclick="document.execCommand('italic',false,null);">
                    <i class="letters">I</i>
                </a>
            </div>
            <div class="col s1"><a href="#"><i class="material-icons">emojis</i></a></div>
            <div class="col s1"></div>
        </div>
        <div class="col s11">
            <input id="data" type="text" data-emojiable="true" contenteditable="true">
        </div>
        <div class="col s1">
            <a id="datasend" href="#"><i class="material-icons">replay</i></a>
        </div>
    </div>

</section>
