<!-- Modal Structures -->
<div id="group-modal" class="modal">
  <div class="modal-content">
    <h4>Create a group</h4><hr/>
    <div class="input-field col s6">
      <input placeholder="Group Name" id="group_name" type="text" class="validate">
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action group modal-close waves-effect waves-green btn-flat">Add</a>
  </div>
</div>

<div id="channel-modal" class="modal">
  <div class="modal-content">
    <h4>Create a Channel</h4><hr/>
    <div class="input-field col s6">
      <input placeholder="Channel Name" id="channel_name" type="text" class="validate">
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action channel modal-close waves-effect waves-green btn-flat">Add</a>
  </div>
</div>

<div class="modal modal_del_friend">
  <div class="modal-content">
    <h4>Kick this friend ?</h4><hr/>
    <div class="input-field col s6">
        <p>You really want to kick this friend ?</p>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action waves-effect waves-green btn-flat validate">Yes</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
  </div>
</div>
