html, body{
    min-height:100%;
  	height:100%;
}

.modal{
    display:block;
    z-index:999;
}
body{
  	margin:0;
}

header{
	background-color:#673AB7;
  z-index: 99;
  position: relative;
}

#main_content{
    height:90%;
    margin-bottom:0;
}

.bg_home{
		width: 100vw;
		height: 100vh;
		background: url(../img/bg_main.png) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}

form.main_form{
		position: absolute;
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p.alert{
    margin: 0;
    padding: 15px 0;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    background-color: rebeccapurple;
    color: white;
    z-index: 9;
}
p.alert-warning{
      background-color: rebeccapurple;
}
p.alert-success{
    background-color: green;
}

header nav{
    background-color: rebeccapurple;
}
header nav .brand-logo{
    font-weight: bold;
}
header nav .nav-wrapper{
    margin: 0 20px;
}

header nav li.userMenu{
    text-align: center;
}
header nav li.userMenu a.dropdown-button{
    height: 65px;
}
header nav li.userMenu a img{
    width: 50%;
    margin-top: 3px;
}

.dropdown-content li>a, .dropdown-content li>span{
    color: rebeccapurple;
}
header nav li#SearchFriends{
    width:500px;
}

header nav li#SearchFriends input.typeahead{
    margin: 6px 0px 12px 0px;
}

header nav li#SearchFriends span.twitter-typeahead{
    width:100%;
}

header nav li#SearchFriends span.twitter-typeahead .tt-menu{
    width:100%;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

header nav li#SearchFriends span.twitter-typeahead .tt-menu h3{
    color: #000;
    font-size: 20px;
    margin: 5px 23px 0px 23px;
    font-weight: bold;
    border-bottom: solid 1px #EEE;
    padding: 5px 0;
}

.tt-suggestion{
    position:relative;
    color: black;
    line-height: 50px;
    padding-left: 25px;
    margin:0;
}
.tt-suggestion:hover{
    cursor:pointer;
    background-color: #9575CD;
    color:#FFF;
}

.tt-suggestion .add_friend{
    position: absolute;
    right: 20px;
    top:0;
    height:50px;
    color: #FFF;
}

.tt-suggestion .add_friend:hover i{
    color:#FFF;
}

.tt-suggestion .add_friend i{
    color:black;
    margin-top:-8px;
}

.empty-message{
    padding-left:25px;
    color:#000;
}

.preloader{
    display:none;
    position: absolute;
    right: 32px;
    top: 9px;
}

.check{
  display:none;
  position: absolute;
  right: 32px;
  top: -9px;
}


/**** LEFT NAV ****/

body #ContactNav{
    height: 100%;
    background-color: #e1bee7;

}

body #ContactNav section{
    border-top: solid 2px #FFF;
    padding: 8px 0px;
    color: #FFF;
    margin-bottom:0;
}
body #ContactNav section:first-child{
    border:none;
}

body #ContactNav section .add{
    position: relative;
}
body #ContactNav section .add a{
    background-color: #FFF;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 5px;
}
body #ContactNav section .add a i{
    font-size:31px;
    color: #e1bee7;
    position: absolute;
    left: 5px;
    height: 50px;
    bottom: -2px;
}

body #ContactNav section h5{
    color: #000;
}

body #ContactNav ul{
    margin-left: 15px;
    list-style-type: none;
    padding-left: 10px;
    margin-bottom:0;
}

body #ContactNav ul li{
    display:block;
    width:100%;
    line-height: 50px;
    border-bottom: solid 2px #FFF;
}
body #ContactNav ul li:first-child{
    border-top: solid 2px #FFF;
}
body #ContactNav ul li:last-child{
    border-bottom:none;
}
body #ContactNav ul li a{
    color: #000;
}

#playground{
    height:100%;
    padding:0;
}
#loader{
    display:none;
}

.wrapper{
    position:relative;
    height:100%;
}
.wrap{
    padding: 0 10%;
}

.wrapper .console{
    position:absolute;
    bottom:0;
    background-color: #e1bee7;
    padding: 10px 20px;
    width: 80%;
}
.wrapper .console input{
    background-color: #FFF;
    margin-bottom: 0;
}
.wrapper .console .send{
    margin-bottom:0;
}
.wrapper .console .send a{
    display: block;
    border-radius: 50%;
    background-color: white;
    height: 40px;
    width: 40px;
}
.wrapper .console .send a i{
    color:#e1bee7;
    margin-left: 7px;
    margin-top: 8px;
}
/************************* FRIEND HANDLEBARS **********************************/
.friend_infos{
    width:100%;
    text-align:center;
}

/************************* GROUPS HANDLEBARS **********************************/
.nav_admin{
    margin-bottom: 0;
    background-color: #f3e5f5;
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    box-sizing: border-box;
    position: absolute;
    top: -64px;
    left: 0;
    width: 100%;
    height: 64px;
    z-index:9;
}

#toggle {
    position:absolute;
    cursor:pointer;
    left:-100%;
    top:-100%;
    z-index:99;
}

#toggle + label {
    position: absolute;
    cursor: pointer;
    padding: 10px;
    background: #e1bee7;
    border: solid 2px #e1bee7;
    color: #000;
    line-height: 1px;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    margin: 15px 50px;
    transition: all 500ms ease;
    z-index: 99;
    padding: 15px;
}

label::before {
    display:none;
}

.wrapper {
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    padding:5em 3em;
}

#toggle:checked ~ .nav_admin {
    top: 0;
    z-index:9;
}

#toggle:checked ~ .wrapper {
    margin-top: 64px;
}

#toggle:checked + label {
    background:transparent;
}

.nav_admin .typeahead{
    margin: 0;

}
.nav_admin .icon_admingr{
    margin:7px 0;
    text-align:right;
}
.nav_admin .icon_admingr li{
    display:inline-block;
    border-radius: 50%;
    background-color: #FFF;
    width: 50px;
    height: 50px;
    padding-top: 4px;
    padding-right: 5px;
    margin-right: 10px;
}
.nav_admin .icon_admingr li a i{
    font-size: 40px;
    color:#f3e5f5;
}

.nav_admin .open-search {
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}
.nav_admin input[type=search] {


  display: inline-block;
  padding: 0;
  vertical-align: bottom !important;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 0;
  color: teal;
  width: 0;
}
.nav_admin input[type=search]::-webkit-input-placeholder {
  color: #000;
}
.nav_admin input[type=search]::-moz-placeholder {
  color: #000;
}
.nav_admin input[type=search]:-moz-placeholder {
  color: #000;
}
.nav_admin input[type=search]:-ms-input-placeholder {
  color: #000;
}
.nav_admin input[type=search].show {
  width: 16rem;
}



#members .row .col{
    float:none;
    display:inline-block;
    vertical-align: middle;
}
#members .row .col .del{
    text-align: center;
    display: inherit;
    border-radius: 50%;
    background-color: #e1bee7;
    width: 50px;
    height: 50px;
    padding-top: 4px;
}
#members .row .col .del a i{
    font-size: 40px;
    color:#FFF;
}
#members .row .col img{
    width: 70px;
}
