<div class="bg_home">
  <div class="container-fluid">

    <form id="local-sign-in" class="collapse main_form" action="/auth/login" method="post">
      <div>
        <p></p>
        <label>Username:</label>
        <input type="text" name="username" />
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password" />
      </div>
      <div class="row">
        <div class="col s6">
          <input type="submit" class="btn btn-primary btn-sm" value="Log In" />
        </div>
        <div class="col s6">
          <a href="/auth/signin" class="btn btn-default btn-md" role="button">Create a account</a>
        </div>
      </div>
    </form>
  </div>
</div>
