<!-- views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Qwirk">
  <meta name="author" content="">

  <title>Qwirk</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/stylesheets/main.css" rel="stylesheet">


  </head>

  <body>

    {{> utils/alerts}}

    {{#if user}}

        {{> nav/nav_top}}

        <div id="main_content" class="row">

            {{> nav/nav_left}}

            <section id="playground" class="col s9">

                {{> utils/loader}}

                {{{body}}}

            </section>

        </div>

    {{else}}

        {{> forms/login}}

        {{{body}}}

    {{/if}}


    </div> <!-- /container -->

    <!-- Modal Structures -->
    {{!--<div id="group-modal" class="modal">
      <div class="modal-content">
        <h4>Create a group</h4><hr/>
        <div class="input-field col s6">
          <input placeholder="Group Name" id="group_name" type="text" class="validate">
        </div>
      </div>
      <div class="modal-footer">
        <a class="modal-action group modal-close waves-effect waves-green btn-flat">Add</a>
      </div>
    </div>

    <div id="channel-modal" class="modal">
      <div class="modal-content">
        <h4>Create a Channel</h4><hr/>
        <div class="input-field col s6">
          <input placeholder="Channel Name" id="channel_name" type="text" class="validate">
        </div>
      </div>
      <div class="modal-footer">
        <a class="modal-action channel modal-close waves-effect waves-green btn-flat">Add</a>
      </div>
    </div>--}}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.8/handlebars.min.js"></script>

    <script src="../bower_components/typeahead.js/dist/bloodhound.js"></script>
    <script src="../bower_components/typeahead.js/dist/typeahead.jquery.js"></script>
    <script src="../bower_components/typeahead.js/dist/typeahead.bundle.js"></script>
    <script src="../bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="/javascripts/main.js"></script>

    <!-- Ajax JQuery File -->
    <!--
    <script src="/javascripts/ajax/ajax_friends.js"></script>
    <script src="/javascripts/ajax/ajax_profil.js"></script>
    <script src="/javascripts/ajax/ajax_groups.js"></script>
    -->
    <script src="/socket.io/socket.io.js"></script>
    
    <script src="/javascripts/ajax/main_searchbar.js"></script>


</body>
</html>
